<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Student Record</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="./style.css">
        <style>
            *{
                box-sizing: border-box;
                /* box-sizing: content-box */
            }
            .container{
                border-radius: 5px;
                background-color: #f2f2f2;
                padding: 20px;
                display: block;
            } 
            label{
                float: left;
                width: 25%;
                margin-top: 6px;
            }
            input{
                float: left;
                width: 75%;
                margin-top: 6px;
            }
           
            input[type=submit] {
                background-color: #4CAF50;
                color: white;
                padding: 12px 20px;
                border: none;
                border-radius: 4px;
                cursor: pointer;
                float: right;
                
            }
             
            @media screen and (max-width:600px){
                label,input{
                    width: 100%;
                    margin-top:0;
                }
            }

        </style>
    </head>
    <body> 
        <div class="container">
            <form action="/add" method="POST" id="form-style">
                <label>Name </label><input type="text" name="first" placeholder="Your Name"><br>
                <label>Father Name </label><input type="text" name="fname" placeholder="Father Name"><br>
                <label>Family Name </label><input type="text" name="family" placeholder="SurName"><br>
                <label>Age </label><input type="text" name="age" placeholder="Your Age" maxlength="2" minlength="1"><br>
                <label>Contact </label><input type="text" name="contact" placeholder="Contact" maxlength="10"><br>
                <input type="submit" name="submit" title="ADD">
            </form>
        </div>
        
        <script src="" async defer></script>
    </body>
</html>